.wrap {
  width: 550px;
  height: 650px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.zag {
  background-color: rgb(212, 116, 10);
  height: 35px;

  text-align: left;
}
h3 {
  padding-top: 5px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
}
input {
  width: 330px;
  margin-right: 20px;
  border-radius: 5px;
  height: 30px;
}
label {
  margin-right: 15px;
}

span {
  color: rgb(226, 219, 76);
}
.content {
  background-color: rgb(26, 27, 41);
  text-align: right;
  vertical-align: top;
  line-height: 3;
}
.finish {
  background-color: rgb(212, 116, 10);
  height: 35px;
}
button {
  margin-left: 12px;
  margin-top: 7px;
  border-radius: 4px;
  text-align: right;
}
.finish > :first-child {
  margin-left: 350px;
  background-color: rgb(75, 175, 75);
}
.finish > :last-child {
  background-color: rgb(207, 61, 62);
}
input[name="Gender"] {
  width: 10px;
}
.gen {
  text-align: left;
}
label[for="Gender"] {
  margin-left: 130px;
}
select {
  width: 335px;
  margin-right: 20px;
  border-radius: 4px;
}
input[type="checkbox"] {
  width: 10px;
  margin-left: 50px;
}
.check {
  text-align: center;
}
select[id="month"] {
  width: 20%;
  margin-left: 15px;
}
select[id="day"] {
  width: 10%;
  margin-left: 40px;
}
select[id="year"] {
  width: 15%;
}
select {
  height: 35px;
}
